@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&family=Recursive:wght@300");

$sidebar-color: #4D4755;
$text-color: white;
$collapsible-text-color: #4D4755;
$collapsible-color: #D7AC96;
$button-color: green;
$body-font: 'Recursive', sans-serif;
$collapsible-font: 'EB Garamond', serif;

body, html {
    margin: 0;
    font-family: $body-font;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
    width: 100%;
    color: $text-color;
}

* {
    box-sizing: border-box;
}

#root {
    height: 100%;
}

button, #submit {
    background-color: $button-color;
    border: 0;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 4px;
    padding: 5px 10px;
    color: $text-color;
    width: 200px;
    &:hover {
        background-color: gold;
        color: $collapsible-text-color
    }
}

form {
    padding: 10px;
    border: 2px solid white;
    background-color: rgba($collapsible-color, 0.2);
    border-radius: 0 10px 0 10px;
    padding-bottom: 50px;
    font-size: 1.1em;
    hr {
        border-top: 2px solid white;
        border-bottom: 0;
    }
    #pages, #time {
        width: 100%;
    }
}

#submit {
    position: absolute;
    right: 20px;
    margin: 10px;
}


code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.background-div {
    box-sizing: content-box;
    position: fixed;
    height: 100%;
    width: 75%;
    background-image: url("images/background.jpg");
    background-position: center;
    background-size: cover;
    border-right: 500px solid $sidebar-color;
    z-index: -1;
}

.header {
    padding: 10px 0;
    padding-left: 20px;
    color: white;
}

.header h1 {
    margin: 0;
}

.sidebar {
    margin-top: -63px;
    position: relative;
    float: right;
    top: 0;
    right: 0;
    width: 25%;
    background-color: $sidebar-color;
    padding: 20px;
    h3 {
        margin-top: 0;
    }
    h4 {
        margin-bottom: 0;
    }
}

#test {
    position: relative;
}

.collapsible {
    width: 75%;
    font-family: $collapsible-font;
}

.collapsible-element {
    margin: 0 20px;
    background-color: $collapsible-color;
    color: $collapsible-text-color;
    padding: 20px;
    border-radius: 10px 0 100px 0;
    margin-bottom: 20px;
    p, h2 {
        margin-top: 0;
        margin-bottom: 20px;
    }
    p:last-child {
        margin-bottom: 10px;
    }
    .close {
        position: relative;
        float: right;
        border: 0;
        cursor: pointer;
        border-radius: 4px;
        height: 28px;
        width: 28px;
        font-size: 3em;
        background-color: $sidebar-color;
        margin-left: 20px;
        &:before, &:after {
            top: 0;
            position: absolute;
            left: 13px;
            content: ' ';
            height: 28px;
            width: 2px;
            background-color: $collapsible-color;
        }
        &:before {
            transform: rotate(45deg);
        }
        &:after {
            transform: rotate(-45deg);
        }
        &:hover {
            background-color: gold;
            &:before, &:after {
                background-color: $collapsible-text-color;
            }
        }

    }
}

#description, #form {
    margin-left: 10px;
    margin-bottom: 20px;
}

// start of transition elements

.alert-enter {
    opacity: 0;
    transform: scale(0.9);
}

.alert-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms, transform 300ms;
}

.alert-exit {
    opacity: 1;
}

.alert-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
}

// end of transition elements

@media (max-width:1200px){
    .background-div {
        width: 60%;
    }
    .sidebar {
        margin-top: -63px;
        position: relative;
        float: right;
        width: 40%;
        height: auto;
    }
    .collapsible {
        width: 60%;
    }
}

@media (max-width:768px){
    .background-div {
        width: 100%;
    }
    .sidebar {
        margin-top: 0;
        width: 100%;
        margin-bottom: 20px;
    }
    .collapsible {
        width: 100%;
        height: auto;
        float: left;
    }
}