@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&family=Recursive:wght@300");
body, html {
  margin: 0;
  font-family: "Recursive", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
  color: white;
}

* {
  box-sizing: border-box;
}

#root {
  height: 100%;
}

button, #submit {
  background-color: green;
  border: 0;
  font-size: 1.2em;
  cursor: pointer;
  border-radius: 4px;
  padding: 5px 10px;
  color: white;
  width: 200px;
}
button:hover, #submit:hover {
  background-color: gold;
  color: #4D4755;
}

form {
  padding: 10px;
  border: 2px solid white;
  background-color: rgba(215, 172, 150, 0.2);
  border-radius: 0 10px 0 10px;
  padding-bottom: 50px;
  font-size: 1.1em;
}
form hr {
  border-top: 2px solid white;
  border-bottom: 0;
}
form #pages, form #time {
  width: 100%;
}

#submit {
  position: absolute;
  right: 20px;
  margin: 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.background-div {
  box-sizing: content-box;
  position: fixed;
  height: 100%;
  width: 75%;
  background-image: url("images/background.jpg");
  background-position: center;
  background-size: cover;
  border-right: 500px solid #4D4755;
  z-index: -1;
}

.header {
  padding: 10px 0;
  padding-left: 20px;
  color: white;
}

.header h1 {
  margin: 0;
}

.sidebar {
  margin-top: -63px;
  position: relative;
  float: right;
  top: 0;
  right: 0;
  width: 25%;
  background-color: #4D4755;
  padding: 20px;
}
.sidebar h3 {
  margin-top: 0;
}
.sidebar h4 {
  margin-bottom: 0;
}

#test {
  position: relative;
}

.collapsible {
  width: 75%;
  font-family: "EB Garamond", serif;
}

.collapsible-element {
  margin: 0 20px;
  background-color: #D7AC96;
  color: #4D4755;
  padding: 20px;
  border-radius: 10px 0 100px 0;
  margin-bottom: 20px;
}
.collapsible-element p, .collapsible-element h2 {
  margin-top: 0;
  margin-bottom: 20px;
}
.collapsible-element p:last-child {
  margin-bottom: 10px;
}
.collapsible-element .close {
  position: relative;
  float: right;
  border: 0;
  cursor: pointer;
  border-radius: 4px;
  height: 28px;
  width: 28px;
  font-size: 3em;
  background-color: #4D4755;
  margin-left: 20px;
}
.collapsible-element .close:before, .collapsible-element .close:after {
  top: 0;
  position: absolute;
  left: 13px;
  content: " ";
  height: 28px;
  width: 2px;
  background-color: #D7AC96;
}
.collapsible-element .close:before {
  transform: rotate(45deg);
}
.collapsible-element .close:after {
  transform: rotate(-45deg);
}
.collapsible-element .close:hover {
  background-color: gold;
}
.collapsible-element .close:hover:before, .collapsible-element .close:hover:after {
  background-color: #4D4755;
}

#description, #form {
  margin-left: 10px;
  margin-bottom: 20px;
}

.alert-enter {
  opacity: 0;
  transform: scale(0.9);
}

.alert-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}

.alert-exit {
  opacity: 1;
}

.alert-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

@media (max-width: 1200px) {
  .background-div {
    width: 60%;
  }

  .sidebar {
    margin-top: -63px;
    position: relative;
    float: right;
    width: 40%;
    height: auto;
  }

  .collapsible {
    width: 60%;
  }
}
@media (max-width: 768px) {
  .background-div {
    width: 100%;
  }

  .sidebar {
    margin-top: 0;
    width: 100%;
    margin-bottom: 20px;
  }

  .collapsible {
    width: 100%;
    height: auto;
    float: left;
  }
}

/*# sourceMappingURL=index.css.map */
